<h1>Find a Compatible Roommate</h1>


<form action="/create" method="POST">

  <div class="form-group">
    <label>Username:</label>
    <input type="text" name="name">

    <label>Do you smoke?</label>
    <input type="text" name="smoke">

    <label>How important is this to you?</label>
    <input type="text" name="smokerate">

  </div>
  <button type="submit">Create User</button>
</form>

<h1> Update My Account </h1>


<ul>
  {{#each matchtable}}
      <li>
        {{this.matchname}}
        {{this.smoke}}
        {{this.smokerate}}
         <form action="/update/{{this.id}}?_method=PUT" method="POST">
    			<label>Do you smoke?</label>
   				<input type="text" name="smoke">
    			<label>How important is this to you?</label>
    			<input type="text" name="smokerate">
       	 		<button type="submit">Update</button>
        </form>
        <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
         	<button type="submit">DELETE ME</button>
         </form>
      </li>
  {{/each}}
</ul>