<div class="container">

{{!-- UPDATE "CREATE" AND "POST" NOW THAT IT'S NOT A FORM --}}
{{!-- <form action="/create" method="POST"> --}}

  <h2>Roommate Compatibility</h2>

    <h3><strong>Smoking</strong></h3>
        <h4>Do you smoke?</h4>
            <select data-placeholder="" class="chosen-select" id="smoke_user">
                <option value=""></option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
              </select>
        <h4>Is it okay if your roommate smokes?</h4>
          <select data-placeholder="" class="chosen-select" id="smoke_roommate">
            <option value=""></option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
          </select>

    <h3><strong>Schedule</strong></h3>
        <h4>Do you stay up late or get up early?</h4>
            <select data-placeholder="" class="chosen-select" id="schedule_user">
              <option value=""></option>
                    <option value="1">Get up early</option>
                    <option value="2">Stay up late</option>
            </select>
        <h4>Do you prefer your roommate to stay up late or get up early?</h4>
            <select data-placeholder="" class="chosen-select" id="schedule_roommate">
              <option value=""></option>
                    <option value="1">Get up early</option>
                    <option value="2">Stay up late</option>
            </select>


    <h3><strong>Personality</strong></h3>
        <h4>Are you introverted or extroverted?</h4>
            <select data-placeholder="" class="chosen-select" id="personality_user">
                <option value=""></option>
                    <option value="1">Introverted</option>
                    <option value="2">Extroverted</option>
            </select>
        <h4>Do you prefer a roommate who is introverted or extroverted?</h4>
            <select data-placeholder="" class="chosen-select" id="personality_roommate">
                <option value=""></option>
                    <option value="1">Introverted</option>
                    <option value="2">Extroverted</option>
            </select>


    <h3><strong>Parties</strong></h3>
        <h4>Do you host parties at home?</h4>
            <select data-placeholder="" class="chosen-select" id="parties_user">
                <option value=""></option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
            </select>
        <h4>Is it okay if your roommate hosts parties at home?</h4>
            <select data-placeholder="" class="chosen-select" id="parties_roommate">
                <option value=""></option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
            </select>


    <h3><strong>Friends</strong></h3>
        <h4>How often do you have friends over?</h4>
            <select data-placeholder="" class="chosen-select" id="friends_user">
                <option value=""></option>
                    <option value="1">Occasionally</option>
                    <option value="2">Often</option>
            </select>
        <h4>How often would you like your roommate to have friends over?</h4>
            <select data-placeholder="" class="chosen-select" id="friends_roommate">
                <option value=""></option>
                    <option value="1">Occasionally</option>
                    <option value="2">Often</option>
            </select>

    <h3><strong>Pets</strong></h3>
        <h4>Do you have pets?</h4>
            <select data-placeholder="" class="chosen-select" id="pets_user">
                <option value=""></option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
            </select>
        <h4>Is it okay if your roommate has pets?</h4>
            <select data-placeholder="" class="chosen-select" id="pets_roommate">
                <option value=""></option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
            </select>

    <h3><strong>Cleanliness</strong></h3>
        <h4>Are you neat or messy?</h4>
            <select data-placeholder="" class="chosen-select" id="cleanliness_user">
                <option value=""></option>
                    <option value="1">Neat</option>
                    <option value="2">Messy</option>
            </select>
        <h4>Would you prefer your roommate to be neat or messy?</h4>
            <select data-placeholder="" class="chosen-select" id="cleanliness_roommate">
                <option value=""></option>
                    <option value="1">Neat</option>
                    <option value="2">Messy</option>
            </select>


    <h3><strong>Music</strong></h3>
        <h4>Do you like to play music?</h4>
            <select data-placeholder="" class="chosen-select" id="music_user">
                <option value=""></option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
            </select>
        <h4>Is it okay if your roommate plays music?</h4>
            <select data-placeholder="" class="chosen-select" id="music_roommate">
                <option value=""></option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
            </select>



    <br>
    <br>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
    Submit</button>

  </div>


{{!-- <ul>
  {{#each matchtable}}
      <li>
        {{this.matchname}}
        {{this.smoke}}
        {{this.smokerate}}
         <form action="/update/{{this.id}}?_method=PUT" method="POST">
    			<label>Do you smoke?</label>
   				<input type="text" name="smoke">
    			<label>Rate your smoke</label>
    			<input type="text" name="smokerate">
       	 		<button type="submit">Update</button>
        </form>
        <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
         	<button type="submit">DELETE ME</button>
         </form>
      </li>
  {{/each}}
</ul> --}}